In [2]:
#%%
import pandas as pd
import numpy as np
from tqdm.notebook import trange, tqdm

In [3]:
# Layout of the columns
layout_df = pd.read_csv('/Users/thomas.farrandibm.com/Documents/GitHub/vietnam_air_records/data/HERB/RG330.HERBO2.ORIG',
                        delimiter='\t',
                        skipinitialspace=True,
                        header=None)
layout_df

                                                       0
0      6507213207565     260404040 040000{0000D000000...
1      6507243207565     260606060 060000{0000D000000...
2      6507253207565     260606060 060000{0000D000000...
3      6507263207565     260606060 060000{0000D000000...
4      6507273207565     260606060 060000{0000D000000...
...                                                  ...
18135  7102174                                       ...
18136  7102174                                       ...
18137  7102194           39000000W 009900{0000P000000...
18138  7102194                                       ...
18139  7102283           24000000B 003300{0000P000000...

[18140 rows x 1 columns]

In [4]:
def string_slicer(row, document_start_char, document_end_char):
    start_char = document_start_char - 1
    end_char = document_end_char - 1
    
    if start_char == end_char:
        sliced_string = row[start_char]
    else:
        sliced_string = row[start_char:end_char+1]
        
    return sliced_string

In [5]:
new_list = []

with tqdm(total=len(layout_df[0])) as pbar:
    for row in layout_df[0]:
        row_entry = {
            'Date of Flight': string_slicer(row, 1, 6),
            'Combat Tactical Zone': string_slicer(row, 7, 7),
            'Mission Project Number': string_slicer(row, 8, 15),
            'Multiple Run of Mission': string_slicer(row, 16, 16),
            'Multiple Province Mission Coverage Indicator': string_slicer(row, 17, 17),
            'Blank': string_slicer(row, 18, 18),
            'Province Code': string_slicer(row, 19, 20),
            'Number of Aircraft Scheduled': string_slicer(row, 21, 22),
            'Number of Airborne Aircraft': string_slicer(row, 23, 24),
            'Number of Productive Aircraft': string_slicer(row, 25, 26),
            'Type of Agent': string_slicer(row, 27, 28),
            'Number of Gallons': string_slicer(row, 29, 33),
            'Number of Hits': string_slicer(row, 34, 35),
            'Number of Maintenance Aborts': string_slicer(row, 36, 36),
            'Number of Weather Aborts': string_slicer(row, 37, 37),
            'Number of Battle Damage Aborts': string_slicer(row, 38, 38),
            'Other Types of Aborts': string_slicer(row, 39, 39),
            'Type of Mission': string_slicer(row, 40, 40),
            'Blank': string_slicer(row, 41, 48),
            'Area Sprayed': string_slicer(row, 49, 52),
            'Result (Helo Only)': string_slicer(row, 53, 53),
            'Blank': string_slicer(row, 54, 86),
            'Mission Leg Control Field': string_slicer(row, 87, 88),
            'Blank': string_slicer(row, 89, 97),
            'UTM': string_slicer(row, 98, 105),
        }
        new_list.append(row_entry)
        
df = pd.DataFrame(new_list)
df.drop('Blank', axis=1, inplace=True)
df

HBox(children=(FloatProgress(value=0.0, max=18140.0), HTML(value='')))

,Date of Flight,Combat Tactical Zone,Mission Project Number,Multiple Run of Mission,Multiple Province Mission Coverage Indicator,Province Code,Number of Aircraft Scheduled,Number of Airborne Aircraft,Number of Productive Aircraft,Type of Agent,...,Number of Hits,Number of Maintenance Aborts,Number of Weather Aborts,Number of Battle Damage Aborts,Other Types of Aborts,Type of Mission,Area Sprayed,Result (Helo Only),Mission Leg Control Field,UTM
0,650721,3,207565,,,26,04,04,04,0,...,0{,0,0,0,0,D,048{,,,
1,650724,3,207565,,,26,06,06,06,0,...,0{,0,0,0,0,D,072{,,,
2,650725,3,207565,,,26,06,06,06,0,...,0{,0,0,0,0,D,072{,,,
3,650726,3,207565,,,26,06,06,06,0,...,0{,0,0,0,0,D,072{,,,
4,650727,3,207565,,,26,06,06,06,0,...,0{,0,0,0,0,D,072{,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18135,710217,4,,,,,,,,,...,,,,,,,,,3A,VR946386
18136,710217,4,,,,,,,,,...,,,,,,,,,3B,VR960596
18137,710219,4,,,,39,00,00,00,W,...,0{,0,0,0,0,P,013{,N,1A,WR177676
18138,710219,4,,,,,,,,,...,,,,,,,,,1B,WR196602
18139,710228,3,,,,24,00,00,00,B,...,0{,0,0,0,0,P,002{,N,1A,XT085816

In [6]:
df.columns

Index(['Date of Flight', 'Combat Tactical Zone', 'Mission Project Number',
       'Multiple Run of Mission',
       'Multiple Province Mission Coverage Indicator', 'Province Code',
       'Number of Aircraft Scheduled', 'Number of Airborne Aircraft',
       'Number of Productive Aircraft', 'Type of Agent', 'Number of Gallons',
       'Number of Hits', 'Number of Maintenance Aborts',
       'Number of Weather Aborts', 'Number of Battle Damage Aborts',
       'Other Types of Aborts', 'Type of Mission', 'Area Sprayed',
       'Result (Helo Only)', 'Mission Leg Control Field', 'UTM'],
      dtype='object')

In [10]:
df['Multiple Run of Mission'].value_counts()

     11576
B     2845
A     2731
C      562
D      275
E       77
F       38
H       15
G       11
K        4
J        4
V        2
Name: Multiple Run of Mission, dtype: int64

In [5]:
gallons_series = df['Number of Gallons'].str.strip()
gallons_series[gallons_series != ''].astype(int).sum()

17678788

In [14]:
# Combat Tactical Zone
# Believe this refers to the combat zones which South Vietnam was split into. 
# http://www.vietnambattlefieldtours.com/tours/ctz/zones.asp
df['Combat Tactical Zone'].unique()

array(['3', '2', '1', '4', ' ', ')'], dtype=object)

In [15]:
# Mission Project Number
df['Mission Project Number'].unique()

array(['207565  ', '022365  ', '022465  ', '207765  ', '207665  ',
       '202465  ', '021865  ', '022565  ', '022265  ', '023265  ',
       '022865  ', '202865  ', '023565  ', '208065  ', '206365  ',
       '022965  ', '203565  ', '205865  ', '205565  ', '207965  ',
       '206865  ', '206866  ', '204466  ', '205266  ', '206966  ',
       '207766  ', '206066  ', '207066  ', '022166  ', '023466  ',
       '200166  ', '023366  ', '200266  ', '020166  ', '206166  ',
       '022266  ', '208266  ', '021866  ', '208166  ', '206566  ',
       '205566  ', '202266  ', '204366  ', '200666  ', '204966  ',
       '205066  ', '207266  ', '208866  ', '200466  ', '020266  ',
       '020466  ', '200566  ', '200366  ', '204866  ', '201166  ',
       '020566  ', '021066  ', '201666  ', '020866  ', '201466  ',
       '202066  ', '201066  ', '200866  ', '020366  ', '020167  ',
       '200766  ', '    66  ', '208366  ', '200367  ', '200167  ',
       '020666  ', '200467  ', '200267  ', '200767  ', '020567  ',
       '200867  ', '201266  ', '020867  ', '020367  ', '020467  ',
       '020766  ', '026766  ', '021167  ', '021367  ', '200667  ',
       '021067  ', '021267  ', '201167  ', '201366  ', '201767  ',
       '200967  ', '201367  ', '201467  ', '200567  ', '201067  ',
       '20016   ', '20046   ', '        ', '200868  ', '200168  ',
       '200768  ', '201567  ', '200568  ', '200268  ', '20066   ',
       '020568  ', '200668  ', '201668  ', '201967  ', '020168  ',
       '200468  ', '020768  ', '020668  ', '020968  ', '020868  ',
       '201068  ', '020468  ', '021168  ', '200368  ', '209268  ',
       '200968  ', '021068  ', '020268  ', '203268  ', '2001688 ',
       '201168  ', '201368  ', '202668  ', '201667  ', '200969  ',
       '203568  ', '200126  ', '200569  ', '200369  ', '200469  ',
       '201669  ', '200869  ', '020569  ', '200669  ', '020469  ',
       '201069  ', '200169  ', '020669  ', '020169  ', '200269  ',
       '200769  ', '200566 B', '020269  ', '201269  ', '3200669 ',
       '2200269 ', '020369  ', '203469  ', '203869  ', '021069  ',
       '020769  ', '200270  ', '201169  ', '200770  ', '200970  ',
       '020670  ', '020170  ', '021169  ', '020570  ', '021269  ',
       '021170  '], dtype=object)

In [16]:
df['Multiple Run of Mission'].unique()

array([' ', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'J', 'K', 'V'],
      dtype=object)

In [19]:
df['Area Sprayed'].unique()

array(['048{', '072{', '060{', '012{', '    ', '007B', '004H', '024{',
       '009F', '015F', '015{', '014D', '019B', '022H', '010H', '007H',
       '013H', '036{', '034H', '006F', '021F', '010B', '033F', '029D',
       '002D', '021{', '017D', '032D', '030{', '016H', '006{', '013B',
       '020D', '001H', '016B', '018{', '031H', '000{', '049B', '003F',
       '030F', '009{', '031B', '028B', '042{', '043B', '044D', '046B',
       '045F', '027{', '046H', '069F', '018F', '033{', '019H', '034B',
       '022B', '001B', '023D', '028H', '045{', '058H', '021I', '011D',
       '035D', '024F', '039F', '025B', '026D', '040H', '029{', '022{',
       '054{', '064H', '026G', '026I', '026E', '075F', '027F', '097B',
       '027C', '062D', '056D', '050D', '038D', '008D', '061B', '033D',
       '022C', '044F', '028C', '055H', '011A', '030G', '063F', '066I',
       '010E', '018G', '031E', '055B', '026B', '031I', '068D', '029A',
       '039B', '040A', '046C', '027D', '042B', '020G', '027I', '033A',
       '031{', '014E', '042F', '032E', '052B', '061H', '032G', '023B',
       '044B', '014H', '032H', '032B', '028I', '028F', '065E', '019I',
       '075{', '078A', '040G', '010F', '066A', '029B', '044{', '031F',
       '072G', '044A', '021D', '041E', '018D', '026A', '072F', '042H',
       '065G', '065H', '074D', '071D', '070H', '009G', '035A', '055F',
       '008G', '064B', '017B', '066F', '003{', '020B', '058B', '018I',
       '034E', '067B', '058F', '051F', '033I', '031C', '046D', '028D',
       '084{', '047D', '033B', '098D', '071A', '068A', '047E', '067D',
       '057H', '054C', '063{', '057F', '059D', '052H', '023A', '066{',
       '069{', '029G', '096{', '090F', '076E', '083D', '067H', '081C',
       '073H', '093F', '095A', '040B', '091B', '095D', '044G', '090{',
       '080D', '078{', '089A', '025H', '021C', '081F', '063I', '070B',
       '102F', '075C', '082H', '023{', '094B', '144{', '094H', '095F',
       '088H', '091H', '057{', '022E', '069C', '020H', '070E', '108{',
       '064E', '060F', '010{', '006H', '006D', '000G', '000D', '000C',
       '004D', '000B', '000A', '000H', '020C', '000F', '011H', '018C',
       '012G', '009E', '060C', '003E', '023G', '005{', '001I', '007{',
       '001C', '004{', '000E', '032A', '005C', '001{', '002E', '054F',
       '002F', '047A', '001E', '025{', '000I', '004E', '007E', '004B',
       '002{', '043H', '005D', '003C', '018E', '001D', '008{', '005E',
       '002H', '008E', '008A', '001A', '009A', '018B', '047{', '040{',
       '008C', '002C', '002B', '016E', '050{', '020{', '003G', '005G',
       '080{', '002G', '170{', '011G', '027E', '009H', '032{', '005A',
       '102{', '104D', '004A', '003D', '001F', '076{', '001G', '076H',
       '062{', '019E', '003I', '010G', '006E', '002I', '013{', '012C',
       '003B', '011C', '008F', '007C', '006G', '320{', '039G', '031A',
       '006B', '005F', '150{', '013E', '014I', '004I', '025E', '017{',
       '006C', '011B', '003A', '009I', '007D', '011{', '038E', '002A',
       '016A', '107D', '020F', '005I', '008I', '041H', '017F', '081{',
       '007A', '008H', '028{', '020E', '039I', '015D', '035{', '012B',
       '015G', '015H', '067{', '009D', '003H', '005B', '016I', '009C',
       '007F', '014G', '012E', '007G', '010C', '045A', '015C', '013F',
       '140D', '025C', '132{', '016{', '014{', '010D', '050F', '103B',
       '004G', '011F', '005H', '037B', '004F', '014B', '012H', '011I',
       '012I', '100{', '015E', '046{', '019D', '009B', '011E'],
      dtype=object)

In [21]:
df['UTM'].unique()

array(['        ', 'AS890255', 'AS940140', ..., 'WR177676', 'WR196602',
       'XT085816'], dtype=object)

                                                       0
0      650802 2 022365 06 020202 O 01000 C    13  202...
1      650802 2 022365                               ...
2      650804 2 022365 06 020202 O 00600 C    15  237...
3      650804 2 022365                               ...
4      650806 2 022365 06 020202 O 00400 C     3   42...
...                                                  ...
18082  710217 4                                      ...
18083  710217 4                                      ...
18084  710219 4        39 000000 W 00990 P     8   66...
18085  710219 4                                      ...
18086  710228 3        24 000000 B 00330 P     0   66...

[18087 rows x 1 columns]